body{
  margin: 5em;
}

h1{
  border-bottom: thick solid black;
}

ul{  
  padding: 0;
}

li{
  margin-right: 2em;
  margin-top: 1em;
  list-style-type: none;
}

main{
  padding-top: 2em;
}

article{
  margin-right: 20%;
}

footer{
  padding-top: 1em;
  border-top: thick solid black;
  
}

footer > p{
  margin: 0;
}


a{
  font-weight: bold;
  text-decoration: none;
}
h1>span{
  display: block;
  color: gray;
  font-style: italic;

}

nav{
  border-bottom: thin solid black;
}